 .container {
     padding-bottom: 80px;
     min-height: calc(100vh - 192px);
 }
 .course-list {
     margin-bottom: 24px;
 }
 .load-more-container {
     height: 48px;
     border-radius: 6px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #fff;
     font-size: 12px;
 }

 .link-style-button {
     text-transform: uppercase;
 }

 .no-data-message {
    text-transform: none;
 }

 .action-button {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 12px;
}

.add-course-button {
    width: 138px;
    height: 36px;
    background-color: #30b6dd;
}
