<div class="container">
  <app-search-control
    (userSearchEntered)="getUserSearchInput($event)"
    (showAllCourses)="showAllCourses($event)"
  ></app-search-control>
  <div 
    *ngFor="let course of coursesList" 
    class="course-list"
  >
    <app-course-list-item      
      [course]="course"
      (courseDeleted)="onCourseDeleted($event)"  
    ></app-course-list-item>
  </div> 
  <div class="load-more-container">
    <button 
      (click)="onLoadMore()" 
      *ngIf="coursesList.length; else noCoursesAdded"
      class="link-style-button"
    >
      Load more
    </button>
    <ng-template #noCoursesAdded>
        <div class="no-data-message">
            No data. Feel free to add new course
        </div>
    </ng-template>
  </div>
</div>
