<div class="add-course">
    <div class="add-course_container">
        <div class="shared-title">
            New course
        </div>
        <div class="add-course_form">
            <form>
                <div class="form-group">
                    <div class="label-group">
                        <label>Title</label>
                        <div class="label-info">*required</div>
                    </div>                   
                    <input
                        class="shared-input full-size"
                        placeholder="Text input"
                    >
                </div>
                <div class="form-group">
                    <div class="label-group">
                        <label>Description</label>
                        <div class="label-info">*required</div>
                    </div> 
                    <textarea 
                        class="full-size"
                        placeholder="Add description"
                    ></textarea>
                </div>
                <div class="form-group small-width">
                    <div class="label-group">
                        <label>Duration</label>
                        <div class="label-info">*required</div>
                    </div> 
                    <input
                        class="shared-input small-width"
                        placeholder="minutes"
                    >
                </div>
                <div class="form-group small-width">
                    <div class="label-group">
                        <label>Date</label>
                        <div class="label-info">*required</div>
                    </div> 
                    <input
                        class="shared-input small-width"
                        placeholder="mm-dd-yyyy"
                    >
                </div>
                <div class="form-group medium-width">
                    <div class="label-group">
                        <label>Authors</label>
                        <div class="label-info">*required</div>
                    </div> 
                    <input
                        class="shared-input medium-width"
                        placeholder="Start typing"
                    >
                </div>
            </form>
        </div>
        <div class="add-course_controls">
            <button 
                class="cancel-button"
            >
                Cancel
            </button>
            <button 
                class="save-button"
            >
                Save
            </button>
        </div>        
    </div>
</div>