.login-popup {
    width: 368px;
    height: 286px;
    border-radius: 6px;
    box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
    background-color: #ffffff;

    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -150px;
    margin-top: -150px;
}
.login-popup_container {
    padding: 24px;
}
.login-popup_form {
    padding: 18px 0;
}
.login-popup_form-input {
    display: block;
    height: 36px;
    width: 100%;
    margin-top: 8px;
}
.form-group {
    margin-bottom: 12px;
}
.form-group:last-child {
    margin-bottom: 0;
}
.login-popup_controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
}
.link-style-button {
    font-size: 12px;
}

.label-group {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
