<div class="container">
  <div class="logo">
      <img src="../../../assets/images/logo.png" alt="logo">
  </div>
  <div
    *ngIf="isUserLoggedIn"
    class="status-controls"
  >
    <div class="login">
      <img class="status-img" src="../../../assets/images/user.png" alt="login icon">
      <span>
          {{ userInfo?.login }}
      </span>
    </div>    
    <button 
      class="logoff-button"
      (click)="onLogOff()"
    >
      <img class="status-img" src="../../../assets/images/exit.png" alt="logoff icon">
      Log off
    </button>
  </div> 
</div>
