<div class="login-popup">
    <div class="login-popup_container">
        <div class="shared-title">
            Login
        </div>
        <div class="login-popup_form">
            <form>
                <div class="form-group">
                        <label>E-mail</label>
                        <input
                            class="shared-input login-popup_form-input"
                            value="JonDoe@mail.com"
                            #email
                        >
                </div>
                <div class="form-group">
                        <label>Password</label>
                        <input
                            class="shared-input login-popup_form-input"
                            value="Jonny123"
                            #password
                        >
                </div>
            </form>
        </div>
        <div class="login-popup_controls">
            <div class="link-style-button">
                    Forgot password?
            </div>
            <button 
                class="login-button"
                (click)="onLoginClick(email.value, password.value)"
            >
                Login
            </button>
        </div>        
    </div>
</div>