<div 
  [appCourseHighlight]="course.creationDate"
  class="course-container"
>
  <div class="course-item_header">
    <div class="course-title">
        <h3 class="course-title-text shared-title">
            {{ course.title | uppercase }}
        </h3>
        <div
          *ngIf="course.topRated" 
          class="course-title_top-raited-icon"
        >
            <img class="top-raited-icon" src="../../../assets/images/topRated-icon.png" alt="topRated">
        </div>
    </div>   
    <div class="course_additional-info">
      <div class="course-duration">
          {{ course.duration | duration }}
      </div>
      <div class="course-date">
        {{ course.creationDate | date: mediumDate }}
      </div>
    </div> 
  </div>
  <div class="course-content">
      <div class="course-description">
          {{ course.description }}
      </div>
      <div class="course-controls">
        <button class="course-control">
          Edit
        </button>
        <button 
          (click)="onCourseDelete()"
          class="course-control button-delete"
        >
          Delete
        </button>
      </div> 
  </div> 
</div>
