<div class="add-course">
    <div class="add-course_container">
        <ng-container *ngIf="!loading">
            <div class="shared-title">
                New course
            </div>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="add-course_form">
                <div class="form-group">
                    <div class="label-group">
                        <label>Title</label>
                        <app-label-info
                            [fieldValid]="checkIfValid('courseName')"
                        ></app-label-info>
                    </div>
                    <div class="input-container">
                        <input
                            formControlName="courseName"
                            [maxLength]="50"
                            id="courseName"
                            class="shared-input full-size"
                            placeholder="Text input"
                        >
                    </div>                   
                </div>
                <div class="form-group">
                    <div class="label-group">
                        <label>Description</label>
                        <app-label-info
                            [fieldValid]="checkIfValid('courseDescription')"
                        ></app-label-info>
                    </div> 
                    <textarea 
                        formControlName="courseDescription"
                        id="courseDescription"
                        [maxLength]="500"
                        class="full-size"
                        placeholder="Add description"
                    ></textarea>
                </div>
                <div class="form-group">
                    <div class="label-group small-width">
                        <label>Duration</label>
                        <app-label-info
                            [fieldValid]="checkIfValid('courseLength')"
                        ></app-label-info>
                    </div>
                    <div class="duration input-container">
                        <input
                            formControlName="courseLength"
                            class="shared-input small-width"
                            placeholder="minutes"
                            #durationInput
                        >
                        <div *ngIf="checkIfValid('courseLength')" class="duration-input-output">
                            {{ durationInput.value | duration }}
                        </div>
                    </div>    
                </div>
                <div class="form-group small-width">
                    <div class="label-group">
                        <label>Date</label>
                        <app-label-info
                            [fieldValid]="checkIfValid('courseDate')"
                        ></app-label-info>
                    </div>
                    <div class="input-container">
                        <input
                            formControlName="courseDate"
                            class="shared-input small-width"
                            placeholder="mm-dd-yyyy"
                        >
                    </div>     
                </div>
                <div class="form-group medium-width">
                    <div class="label-group">
                        <label>Authors</label>
                        <app-label-info
                            [fieldValid]="checkIfValid('courseAuthors')"
                        ></app-label-info>
                    </div> 
                    <div class="input-container">
                        <input
                            formControlName="courseAuthors"
                            class="shared-input medium-width"
                            placeholder="Start typing"
                        >
                    </div>
                </div>
                <div class="add-course_controls">
                    <button 
                        (click)="onCancel()"
                        class="cancel-button"
                    >
                        Cancel
                    </button>
                    <button
                        type="submit"
                        class="save-button"
                        [disabled]="!signupForm.valid"
                    >
                        Save
                    </button>
                </div>  
            </form>  
        </ng-container>
        <ng-container *ngIf="loading">
            <div>
                Loading...
            </div>
        </ng-container>  
    </div>
</div>